<div class="form-container shadow-1">

<form (submit)="handleFormSubmit()" action="" class="flex flex-column  ">
  <h3>{{type.toUpperCase()}}</h3>
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="e.x: email@gmail.com" [(ngModel)]="email" >
  </div>
  <ng-container *ngIf="type === 'register'">
    <div>
      <label for="username">username</label>
      <input id="username" type="text"  placeholder="@username" name="username"
      [(ngModel)]="username">
    </div>

    <div>
      <label for="mobile">mobile</label>
      <input id="mobile" type="tel" placeholder="e.x: 01020000000" name="mobile"
      [(ngModel)]="mobile">
    </div>
  </ng-container>

  <div>
    <label for="Password">Password</label>
    <input id="Password" type="password"  placeholder="Enter your password" name="password"
    [(ngModel)]="password" >
  </div>
  <div *ngIf="type === 'register'">
    <label for="Confirm">Confirm Password</label>
    <input id="Confirm" type="password" name="confirmPassword"
    [(ngModel)]="confirmPassword" placeholder="Confirm password you entered above">
  </div>
  <div *ngIf="type === 'login'">
    <p>Don't have an account?<a routerLink="../register">Create an account</a></p>
  </div>
  <div *ngIf="type === 'register'">
    <p>Already have an Account!<a routerLink="../login">Sign In</a></p>
  </div>
  <button (click)="handleFormSubmit()" type="button" class="text-white bg-primary
   mt-2  px-3 py-3 font-bold text-based border-round cursor-pointer transition-all
   transition-duration-200 outline-none border-none hover:bg-primary-600
    active:bg-primary-800 ">
    {{type.toUpperCase()}}
  </button>
  <p-messages></p-messages>
</form>
</div>
