<div class="container" >
  <p-breadcrumb styleClass="breadcrumb" [model]="items"></p-breadcrumb>
  <p-messages></p-messages>
  <ng-container  *ngIf="!movie">
    <div class="movie-preview">
      <p-skeleton size="90vw"></p-skeleton>
    </div>
  </ng-container>
  <div class="movie-preview" *ngIf="movie">
    <div class="img-container" (click)="showDialog()">
      <img [src]="movie.image" alt="">
      <div class="watch"></div>
    </div>
    <div class="movie-desc">
      <h3 class="movie-title">
          {{movie.movieName}}
      </h3>
      <div class="movie-details">
        <span>{{movie.releasedYear}}</span>
        <span>{{movie.rating}} / 5.0
          <img class="rating" src="assets/images/star.png" alt="">
        </span>
      </div>
      <div class="movie-more-details">
        <p>{{movie.description}}</p>
      </div>
      <p-dialog [header]="movie.movieName" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
        <iframe [src]='watchUrl' frameborder="0" width="100%" height="300px" allowfullscreen></iframe>

      </p-dialog>
    </div>
    <app-actors-section header="Actors In Movie" [loading]="false" [list]="movieActors"></app-actors-section>
  </div>
  <div class="add-review">
      <div *ngIf="!user"><p>Leave a Review? Login in to add your review. <a class="text-primary" [routerLink]="['/login']">Login</a></p></div>
    <form class="review" action="" *ngIf="user">
      <Label>Leave a Review</Label>
      <textarea name="" id="" placeholder="Did you like the movie?"></textarea>
      <input type="submit" value="Add Review">
    </form>
  </div>
  <div class="suggestions">
    <h3 class="suggestions-header">Suggestions</h3>
    <div class="suggestions-movies-container flex-wrap sm:justify-content-start" *ngIf="suggest">
      <app-movie *ngFor="let i of suggest" [movie]="i"></app-movie>
    </div>
  </div>
</div>
