<footer class="bg-bluegray-900 p-5 flex gap-1 justify-content-between flex-wrap">
  <div class="col-4">
    <h2 class="mb-4">Cinema Movies</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore eveniet quisquam! Aut dolorem, doloremque eos esse fuga incidunt labore, magnam molestias nihil non officiis, omnis provident quidem quis velit!</p>
  </div>
  <div class="col-3 flex">
    <div class="col-4">
      <h4 class="mb-4">Films</h4>
      <ul class="text-400">
        <li>Now In Release</li>
        <li>Coming Soon</li>
      </ul>
    </div>
    <div class="col-4">
      <h4 class="mb-4">Shop</h4>
      <ul class="text-400">
        <li>Popcorn</li>
        <li>Drinks</li>
        <li>Souvenirs</li>
        <li>Top Offers</li>
      </ul>
    </div>
    <div class="col-4">
      <h4 class="mb-4">Info</h4>
      <ul class="text-400">
        <li>About us</li>
        <li>Reviews</li>
        <li>Locations</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
  </div>
  <div class="col-3">
    <h2 class="mb-4">Contact</h2>
    <p class="mb-5"><span><i class="pi pi-at"></i> mail@cinemaMovies.com</span></p>
    <p><span><i class="pi pi-phone"></i> +2012000000001</span></p>
  </div>
</footer>
