<footer class="bg-bluegray-900 p-5 flex flex-column lg:flex-row lg:justify-content-between flex-wrap">
  <div class="lg:col-4 mb-5">
    <div>
      <h2 class="mb-4 section-title">Filmna Movies</h2>
      <p class="text-500">Simple Movie App to view and rate new movies.</p>
      <p class="mt-5">
        <span class="social-icon"><a target="_blank" href="https://facebook.com"><i class="pi pi-facebook"></i></a></span>
        <span class="social-icon"><a target="_blank" href="https://instagram.com"><i class="pi pi-instagram"></i></a></span>
        <span class="social-icon"><a target="_blank" href="https://youtube.com"><i class="pi pi-youtube"></i></a></span>
        <span class="social-icon"><a target="_blank" href="https://whatsapp.com"><i class="pi pi-whatsapp"></i></a></span>
        <span class="social-icon"><a target="_blank" href="https://twitter.com"><i class="pi pi-twitter"></i></a></span>
      </p>
    </div>
  </div>
  <div class="lg:col-5 flex">
    <div class="col-4">
      <h4 class="mb-4">Films</h4>
      <ul>
        <li><a>Now In Release</a></li>
        <li><a>Coming Soon</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4 class="mb-4">Shop</h4>
      <ul>
        <li><a>Popcorn</a></li>
        <li><a>Drinks</a></li>
        <li><a>Souvenirs</a></li>
        <li><a>Top Offers</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4 class="mb-4">Info</h4>
      <ul>
        <li><a>About us</a></li>
        <li><a>Reviews</a></li>
        <li><a>Locations</a></li>
        <li><a>Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="lg:col-3">
    <h2 class="mb-4">Contact</h2>
    <p class="white-space-nowrap mb-5"><span><i class="pi pi-at"></i>&nbsp;<a class="no-underline text-color" href="mailto:mail@cinemaMovies.com">&nbsp;mail@cinemaMovies.com</a></span></p>
    <p class="white-space-nowrap mb-5"><span><i class="pi pi-phone"></i>&nbsp;<a class="no-underline text-color" href="tel:+201029994140">+201029994140</a></span></p>
  </div>
</footer>
