<div class="topnav">
    <a style=" font-size: 17px;"><img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/256/Film-icon.png" alt="" width="18" height="18" class="d-inline-block align-text-top">
        Filmna</a>
    <a routerLink="/elplore" class="search_bar">Search</a>
    <a style="float: right;" routerLink="/profile"><i class=" fa fa-solid fa-user icon_user"></i></a>
    <a style="float: right;" routerLink="/login">Login</a>
    <a style="float: right;" routerLink="/register">Register</a>
  </div>
