<div class="intro container shadow-1 mt-8">
  <div class="grid">
    <div class="box col-12">
      <div class="flex flex-column md:flex-row justify-content-around align-items-center">
        <div class="offers-image col md:flex-order-1">
          <img src="/assets/images/intro.gif" alt="Watch Image">
        </div>
        <div class="offers-content col md:flex-order-0">
          <div class="text pb-4">
            <h2 class="mb-5 section-title">Enjoy Your Movie Time</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur corporis cupiditate dolores ex explicabo facilis ipsam.</p>
          </div>
          <div class="actions">
            <button pButton type="button" class="p-button-primary p-button-raised p-button-rounded font-medium">Search for movie</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

