<div class="container mt-8">
  <h2 class="mb-5 section-title">Discounts and offers</h2>
  <div class="grid">
    <div class="box col-12 shadow-1">
      <div class="flex flex-column md:flex-row justify-content-around align-items-center bg-yellow-500">
        <div class="offers-image col">
          <img src="/assets/images/popcorn.png" alt="Popcorn Image">
        </div>
        <div class="offers-content col">
          <div class="text pb-4">
          <h2 class="pb-3">Buy popcorn online</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur dolor eum.</p>
          </div>
          <div class="actions">
            <button pButton type="button" class="p-button-info p-button-raised p-button-rounded font-medium">Open shop</button>
          </div>
        </div>
      </div>
    </div>
    <div class="box lg:col-6 col-12 shadow-1">
      <div class="flex justify-content-around align-items-center h-full bg-indigo-500">
        <div class="offers-content col">
          <div class="text pb-4">
            <h2 class="pb-3">Birthday</h2>
            <p class="font-bold">Get -50% discounts</p>
            <p>for birthday Celebrations</p>
          </div>
          <div class="actions">
            <button pButton type="button" class="p-button-info p-button-raised p-button-rounded font-medium">More Info</button>
          </div>
        </div>
        <div class="offers-image col">
          <img src="assets/images/ballon.png" alt="Birthday Ballons">
        </div>
      </div>
    </div>
    <div class="box lg:col-6 col-12 shadow-1">
      <div class="flex justify-content-around align-items-center bg-pink-500">
        <div class="offers-content col">
          <div class="text pb-4">
            <h2 class="pb-3">Club Card</h2>
            <p class="font-bold">Get personal discounts</p>
            <p>for every Purchase</p>
          </div>
          <div class="actions">
            <button pButton type="button" class="p-button-info p-button-raised p-button-rounded font-medium">Get club card</button>
          </div>
        </div>
        <div class="offers-image col">
          <img src="assets/images/camera.png" alt="Camera Club">
        </div>
      </div>
    </div>
  </div>
</div>

