.moviepic
{
  object-fit: cover;
  width:255px;
     height: 320px;
    margin-left: 10px;
    z-index: -1;
 
}
.rate
{
    display: block;
    width: 50px;
    border: 10px;
    border-radius: 20px;
    color:rgb(165, 162, 162);
    position: relative;
    left: 210px;
    text-align: center;

    bottom:98%;
    background-color: black;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    opacity: 0;
    transition: 2s ease;
    background-color: var(--surface-overlay);
  }
  .moviediv
  {
    position: relative;
    width:255px;
    height: 320px;
    border: 3px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;


  }
.moviediv:hover 
{
   cursor: pointer;
   
    .overlay
    {
        opacity: 90%;
    }
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text_film
  {
    color:var(--gray-100);
  }

  .rating {
    position: absolute;
    font-size: 2.5em;
    right: 200px;
    top: 8px;
    color: #fc0;
  }
 
.rating span {
    position: absolute;
    font-size: 18px;
    right: 9px;
    color:black;
    top: 9px;
}


