  <div class="container mt-8 pt-5 pb-5">
    <h2 class="mb-6 section-title">{{header}}</h2>
    <div class="grid">
      <ng-container *ngIf="loading">
        <div class="p-1 lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
        <div class="lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
        <div class="lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
        <div class="lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
      </ng-container>
      </div>
        <div class="grid">
          <ng-container *ngIf="list">
              <div *ngFor="let item of list" class="lg:col-2 ">
                <app-movie [movie]="item" ></app-movie>
              </div>
          </ng-container>
      </div>
  </div>
