  <div class="container mt-8 pt-5 pb-5">
    <h2 class="mb-8">{{header}}</h2>
    <div class="grid">
      <ng-container *ngIf="loading">
        <div class="p-1 lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
        <div class="lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
        <div class="lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
        <div class="lg:col-3 col">
          <p-skeleton size="15rem"></p-skeleton>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
          <div *ngFor="let item of list" class="lg:col-3 col">
            <app-movie [title]="'Add Title here'"></app-movie>
          </div>
      </ng-container>
    </div>
  </div>
