* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--surface-ground);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
}
.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
.container {
  padding-right: 3rem;
  padding-left: 3rem;
}
}

.section-title {
    font-size: 28px;
    letter-spacing: .5px;
    position: relative;

    &::first-letter {
      color: var(--primary-color);
      font-size: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: peru;
    }
}

input[type="submit"], button {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.search-card {
  width: 100%;
  .moviediv {
    width: 100% !important;
    height: 400px !important;
  }
}
