* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--surface-ground);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
}
.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
.container {
  padding-right: 3rem;
  padding-left: 3rem;
}
}

input[type="submit"], button {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
